<template name="header">
  <header>
    <h1 class="center-align">App Wall</h1>
  </header>
</template>

<template name="form">
  <form class="add-new-post">
    <div class="card-panel blue lighten-2 input-field">
      <input class="input" type="text" placeholder="Name" />
      <input class="input" type="text" placeholder="Message" />
      <input class="card-panel red lighten-2 input" type="file"/>
    </div>
    <div class="center-button">
      <br>
      <button class="card-panel yellow lighten-2 waves-effect waves-light btn">Submit</button>
    </div>
  </form>
</template>

<template name="posts">
  <div class="grid">
    <div class="grid-sizer"></div>
    {{#each postList}}
      <div class="card-panel green lighten-2 grid-item">
        Author: {{this.author}} <br>
        Message: {{this.message}} <br>
        Date Created: {{this.createdAt}}
        {{updateMasonry}}
        <img src="{{imageDisplay}}">
      </div>
    {{/each}}
  </div>
</template>