.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item {
  margin: 10px 0;
}

.input {
  width: 80%;
}

.center-button {
  text-align: center;
}

::-webkit-input-placeholder {
  color: red;
}